In [1]:
%tensorflow_version 1.x

TensorFlow 1.x selected.

In [0]:
import pandas as pd
import numpy as np

In [3]:
url = "https://raw.githubusercontent.com/dranzerblaze/effect_std_drug/master/train.csv"
df = pd.read_csv(url)
df.head()

   patient_id              name_of_drug  ... number_of_times_prescribed base_score
0      206461                 Valsartan  ...                         27   8.022969
1       95260                Guanfacine  ...                        192   7.858458
2       92703                    Lybrel  ...                         17   6.341969
3       35696  Buprenorphine / naloxone  ...                         37   6.590176
4      155963                    Cialis  ...                         43   6.144782

[5 rows x 8 columns]

In [4]:
df['name_of_drug'].value_counts()

Levonorgestrel                       724
Etonogestrel                         628
Ethinyl estradiol / norethindrone    547
Ethinyl estradiol / norgestimate     425
Nexplanon                            397
                                    ...
Revia                                  1
Cetuximab                              1
Narcan Injection                       1
Gynazole-1                             1
Ogestrel-28                            1
Name: name_of_drug, Length: 2220, dtype: int64

In [5]:
df['use_case_for_drug'].value_counts()

Birth Control                                              5795
Depression                                                 1791
Pain                                                       1273
Anxiety                                                    1174
Acne                                                       1101
                                                           ...
Cardiovascular Risk Reduction                                 1
Lactation Augmentation                                        1
Hyperlipoproteinemia Type III, Elevated beta-VLDL   IDL       1
Klinefelter Syndrome                                          1
Rejection Prophylaxis                                         1
Name: use_case_for_drug, Length: 636, dtype: int64

In [6]:
df.shape

(32165, 8)

In [0]:
unique_drugs = df['name_of_drug'].unique()

In [8]:
dict_drugs= {}
for i in range(len(unique_drugs)):
  dict_drugs[unique_drugs[i]] = i
df.name_of_drug	 = [dict_drugs[item] for item in df.name_of_drug]
df.head()

   patient_id  name_of_drug  ... number_of_times_prescribed base_score
0      206461             0  ...                         27   8.022969
1       95260             1  ...                        192   7.858458
2       92703             2  ...                         17   6.341969
3       35696             3  ...                         37   6.590176
4      155963             4  ...                         43   6.144782

[5 rows x 8 columns]

In [9]:
import nltk
nltk.downloader.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [10]:

from nltk.sentiment.vader import SentimentIntensityAnalyzer
data_sample = "have a nice day"
sid = SentimentIntensityAnalyzer()
ss =sid.polarity_scores(data_sample)
ss

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

{'compound': 0.4215, 'neg': 0.0, 'neu': 0.417, 'pos': 0.583}

In [0]:
review_score = []
bhams = SentimentIntensityAnalyzer()
for i in range(df.shape[0]):
  review_text = df['review_by_patient'][i].lower()
  score_polarity = bhams.polarity_scores(review_text)
  review_score.append(score_polarity['compound'])

In [0]:
df['review_score'] = review_score

In [13]:
df.head()

   patient_id  name_of_drug  ... base_score review_score
0      206461             0  ...   8.022969      -0.2960
1       95260             1  ...   7.858458       0.8603
2       92703             2  ...   6.341969       0.7962
3       35696             3  ...   6.590176       0.9403
4      155963             4  ...   6.144782      -0.4342

[5 rows x 9 columns]

In [14]:
df = df.drop(['review_by_patient'],axis=1)
df.head()

   patient_id  name_of_drug  ... base_score  review_score
0      206461             0  ...   8.022969       -0.2960
1       95260             1  ...   7.858458        0.8603
2       92703             2  ...   6.341969        0.7962
3       35696             3  ...   6.590176        0.9403
4      155963             4  ...   6.144782       -0.4342

[5 rows x 8 columns]

In [0]:
df['drug_approved_by_UIC'] = pd.to_datetime(df['drug_approved_by_UIC'])

In [16]:
df.head()

   patient_id  name_of_drug  ... base_score  review_score
0      206461             0  ...   8.022969       -0.2960
1       95260             1  ...   7.858458        0.8603
2       92703             2  ...   6.341969        0.7962
3       35696             3  ...   6.590176        0.9403
4      155963             4  ...   6.144782       -0.4342

[5 rows x 8 columns]

In [17]:
curr_date = pd.datetime.now().date()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  """Entry point for launching an IPython kernel.

In [18]:
print (curr_date)

2020-04-08

In [0]:
curr_date = pd.to_datetime(curr_date)

In [0]:
df['day_diff'] = curr_date - df['drug_approved_by_UIC']

In [0]:
df['day_diff'] = df['day_diff']/np.timedelta64(1,'D')

In [22]:
df.head()

   patient_id  name_of_drug  ... review_score  day_diff
0      206461             0  ...      -0.2960    2880.0
1       95260             1  ...       0.8603    3634.0
2       92703             2  ...       0.7962    3768.0
3       35696             3  ...       0.9403    1228.0
4      155963             4  ...      -0.4342    1593.0

[5 rows x 9 columns]

In [23]:
df = df.drop(['drug_approved_by_UIC','patient_id'],axis=1)
df.head()

   name_of_drug             use_case_for_drug  ...  review_score  day_diff
0             0  Left Ventricular Dysfunction  ...       -0.2960    2880.0
1             1                          ADHD  ...        0.8603    3634.0
2             2                 Birth Control  ...        0.7962    3768.0
3             3             Opiate Dependence  ...        0.9403    1228.0
4             4  Benign Prostatic Hyperplasia  ...       -0.4342    1593.0

[5 rows x 7 columns]

In [0]:
df = pd.get_dummies(df)

In [25]:
df.shape

(32165, 642)

In [26]:
df.head()

   name_of_drug  ...  use_case_for_drug_zen Shoulde
0             0  ...                              0
1             1  ...                              0
2             2  ...                              0
3             3  ...                              0
4             4  ...                              0

[5 rows x 642 columns]

In [27]:
df.columns[3]

'base_score'

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
values_df = df.values
scaled = scaler.fit_transform(values_df)

In [0]:
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
	n_vars = 1 if type(data) is list else data.shape[1]
	dff = pd.DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(dff.shift(i))
		names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(0, n_out):
		cols.append(dff.shift(-i))
		if i == 0:
			names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
		else:
			names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
	# put it all together
	agg = pd.concat(cols, axis=1)
	agg.columns = names
	# drop rows with NaN values
	if dropnan:
		agg.dropna(inplace=True)
	return agg

In [30]:
reframed = series_to_supervised(scaled, 1, 1)
reframed.head(10)

    var1(t-1)  var2(t-1)  var3(t-1)  ...  var640(t)  var641(t)  var642(t)
1   -0.910130   0.611070  -0.024937  ...  -0.007886  -0.009658  -0.009658
2   -0.907793   0.305701   4.581624  ...  -0.007886  -0.009658  -0.009658
3   -0.905457  -0.610405  -0.304123  ...  -0.007886  -0.009658  -0.009658
4   -0.903120   0.611070   0.254248  ...  -0.007886  -0.009658  -0.009658
5   -0.900784  -1.526511   0.421760  ...  -0.007886  -0.009658  -0.009658
6   -0.898448   0.305701  -0.750819  ...  -0.007886  -0.009658  -0.009658
7   -0.896111   0.916438   0.728864  ...  -0.007886  -0.009658  -0.009658
8   -0.893775   0.611070   0.310086  ...  -0.007886  -0.009658  -0.009658
9   -0.891438   0.916438  -0.276204  ...  -0.007886  -0.009658  -0.009658
10  -0.889102   0.305701  -0.471634  ...  -0.007886  -0.009658  -0.009658

[10 rows x 1284 columns]

In [31]:
reframed.columns[645]

'var4(t)'

In [0]:
lst = []
for i in range(0,642):
  lst.append(i)
lst.append(645)

In [33]:
reframed1=reframed.iloc[:,lst]
reframed1.head()

   var1(t-1)  var2(t-1)  var3(t-1)  ...  var641(t-1)  var642(t-1)   var4(t)
1  -0.910130   0.611070  -0.024937  ...    -0.009658    -0.009658  0.751694
2  -0.907793   0.305701   4.581624  ...    -0.009658    -0.009658 -0.202868
3  -0.905457  -0.610405  -0.304123  ...    -0.009658    -0.009658 -0.046634
4  -0.903120   0.611070   0.254248  ...    -0.009658    -0.009658 -0.326989
5  -0.900784  -1.526511   0.421760  ...    -0.009658    -0.009658 -0.612126

[5 rows x 643 columns]

In [49]:
values = reframed1.values

n_train_time = 31000
train = values[:n_train_time, :]
test = values[n_train_time:, :]
##test = values[n_train_time:n_test_time, :]
# split into input and outputs
train_X, train_y = train[:, :-1], train[:, -1]
test_X, test_y = test[:, :-1], test[:, -1]
# reshape input to be 3D [samples, timesteps, features]
train_X = train_X.reshape((train_X.shape[0], 1, train_X.shape[1]))
test_X = test_X.reshape((test_X.shape[0], 1, test_X.shape[1]))
print(train_X.shape, train_y.shape, test_X.shape, test_y.shape) 
# We reshaped the input into the 3D format as expected by LSTMs, namely [samples, timesteps, features].

(31000, 1, 642) (31000,) (1164, 1, 642) (1164,)

In [0]:
import keras
from tensorflow.python.client import device_lib
from collections import defaultdict
import re
import sys
import os
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils.np_utils import to_categorical
from keras.layers import Embedding
from keras.layers import Dense, Input, Flatten
from keras.layers import Conv1D, MaxPooling1D, Embedding, Dropout
from keras.models import Model

In [51]:
model = Sequential()
model.add(LSTM(200, input_shape=(train_X.shape[1], train_X.shape[2]),return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(200))
model.add(Dropout(0.3))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')

# fit network
history = model.fit(train_X, train_y, epochs=30, validation_data=(test_X, test_y), verbose=2, shuffle=False)

Train on 31000 samples, validate on 1164 samples
Epoch 1/30
 - 11s - loss: 1.0097 - val_loss: 0.9047
Epoch 2/30
 - 9s - loss: 0.9915 - val_loss: 0.9204
Epoch 3/30
 - 9s - loss: 0.9766 - val_loss: 0.9446
Epoch 4/30
 - 9s - loss: 0.9694 - val_loss: 0.9468
Epoch 5/30
 - 9s - loss: 0.9649 - val_loss: 0.9629
Epoch 6/30
 - 9s - loss: 0.9614 - val_loss: 0.9677
Epoch 7/30
 - 9s - loss: 0.9578 - val_loss: 0.9763
Epoch 8/30
 - 9s - loss: 0.9532 - val_loss: 0.9832
Epoch 9/30
 - 9s - loss: 0.9485 - val_loss: 0.9972
Epoch 10/30
 - 9s - loss: 0.9450 - val_loss: 1.0046
Epoch 11/30
 - 9s - loss: 0.9409 - val_loss: 1.0115
Epoch 12/30
 - 9s - loss: 0.9344 - val_loss: 1.0098
Epoch 13/30
 - 9s - loss: 0.9287 - val_loss: 1.0317
Epoch 14/30
 - 9s - loss: 0.9243 - val_loss: 1.0470
Epoch 15/30
 - 8s - loss: 0.9197 - val_loss: 1.0475
Epoch 16/30
 - 9s - loss: 0.9135 - val_loss: 1.0404
Epoch 17/30
 - 9s - loss: 0.9078 - val_loss: 1.0529
Epoch 18/30
 - 9s - loss: 0.9033 - val_loss: 1.0599
Epoch 19/30
 - 9s - loss: 0.8996 - val_loss: 1.0662
Epoch 20/30
 - 9s - loss: 0.8962 - val_loss: 1.0584
Epoch 21/30
 - 9s - loss: 0.8935 - val_loss: 1.0878
Epoch 22/30
 - 9s - loss: 0.8855 - val_loss: 1.0801
Epoch 23/30
 - 9s - loss: 0.8839 - val_loss: 1.0844
Epoch 24/30
 - 9s - loss: 0.8761 - val_loss: 1.0833
Epoch 25/30
 - 9s - loss: 0.8772 - val_loss: 1.1000
Epoch 26/30
 - 9s - loss: 0.8752 - val_loss: 1.1254
Epoch 27/30
 - 9s - loss: 0.8694 - val_loss: 1.1110
Epoch 28/30
 - 9s - loss: 0.8682 - val_loss: 1.1293
Epoch 29/30
 - 9s - loss: 0.8645 - val_loss: 1.1319
Epoch 30/30
 - 9s - loss: 0.8638 - val_loss: 1.1195