In [1]:
%tensorflow_version 1.x

TensorFlow 1.x selected.

In [0]:
import pandas as pd
import numpy as np

In [3]:
url = "https://raw.githubusercontent.com/dranzerblaze/effect_std_drug/master/train.csv"
df = pd.read_csv(url)
df.head()

   patient_id              name_of_drug  ... number_of_times_prescribed base_score
0      206461                 Valsartan  ...                         27   8.022969
1       95260                Guanfacine  ...                        192   7.858458
2       92703                    Lybrel  ...                         17   6.341969
3       35696  Buprenorphine / naloxone  ...                         37   6.590176
4      155963                    Cialis  ...                         43   6.144782

[5 rows x 8 columns]

In [4]:
df['name_of_drug'].value_counts()

Levonorgestrel                       724
Etonogestrel                         628
Ethinyl estradiol / norethindrone    547
Ethinyl estradiol / norgestimate     425
Nexplanon                            397
                                    ...
FluMist Quadrivalent                   1
Indapamide                             1
Humalog                                1
Eylea                                  1
Mucomyst                               1
Name: name_of_drug, Length: 2220, dtype: int64

In [5]:
df['use_case_for_drug'].value_counts()

Birth Control                                  5795
Depression                                     1791
Pain                                           1273
Anxiety                                        1174
Acne                                           1101
                                               ...
Candida Urinary Tract Infection                   1
Hyperlipoproteinemia Type IV, Elevated VLDL       1
Organ Transplant, Rejection Reversal              1
Bone infection                                    1
Hemangioma                                        1
Name: use_case_for_drug, Length: 636, dtype: int64

In [6]:
df.shape

(32165, 8)

In [0]:
unique_drugs = df['name_of_drug'].unique()

In [8]:
dict_drugs= {}
for i in range(len(unique_drugs)):
  dict_drugs[unique_drugs[i]] = i
df.name_of_drug	 = [dict_drugs[item] for item in df.name_of_drug]
df.head()

   patient_id  name_of_drug  ... number_of_times_prescribed base_score
0      206461             0  ...                         27   8.022969
1       95260             1  ...                        192   7.858458
2       92703             2  ...                         17   6.341969
3       35696             3  ...                         37   6.590176
4      155963             4  ...                         43   6.144782

[5 rows x 8 columns]

In [9]:
import nltk
nltk.downloader.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [10]:

from nltk.sentiment.vader import SentimentIntensityAnalyzer
data_sample = "have a nice day"
sid = SentimentIntensityAnalyzer()
ss =sid.polarity_scores(data_sample)
ss

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

{'compound': 0.4215, 'neg': 0.0, 'neu': 0.417, 'pos': 0.583}

In [0]:
review_score = []
bhams = SentimentIntensityAnalyzer()
for i in range(df.shape[0]):
  review_text = df['review_by_patient'][i].lower()
  score_polarity = bhams.polarity_scores(review_text)
  review_score.append(score_polarity['compound'])

In [0]:
df['review_score'] = review_score

In [13]:
df.head()

   patient_id  name_of_drug  ... base_score review_score
0      206461             0  ...   8.022969      -0.2960
1       95260             1  ...   7.858458       0.8603
2       92703             2  ...   6.341969       0.7962
3       35696             3  ...   6.590176       0.9403
4      155963             4  ...   6.144782      -0.4342

[5 rows x 9 columns]

In [14]:
df = df.drop(['review_by_patient'],axis=1)
df.head()

   patient_id  name_of_drug  ... base_score  review_score
0      206461             0  ...   8.022969       -0.2960
1       95260             1  ...   7.858458        0.8603
2       92703             2  ...   6.341969        0.7962
3       35696             3  ...   6.590176        0.9403
4      155963             4  ...   6.144782       -0.4342

[5 rows x 8 columns]

In [0]:
df['drug_approved_by_UIC'] = pd.to_datetime(df['drug_approved_by_UIC'])

In [16]:
df.head()

   patient_id  name_of_drug  ... base_score  review_score
0      206461             0  ...   8.022969       -0.2960
1       95260             1  ...   7.858458        0.8603
2       92703             2  ...   6.341969        0.7962
3       35696             3  ...   6.590176        0.9403
4      155963             4  ...   6.144782       -0.4342

[5 rows x 8 columns]

In [17]:
curr_date = pd.datetime.now().date()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  """Entry point for launching an IPython kernel.

In [18]:
print (curr_date)

2020-04-09

In [0]:
curr_date = pd.to_datetime(curr_date)

In [0]:
df['day_diff'] = curr_date - df['drug_approved_by_UIC']

In [0]:
df['day_diff'] = df['day_diff']/np.timedelta64(1,'D')

In [22]:
df.head()

   patient_id  name_of_drug  ... review_score  day_diff
0      206461             0  ...      -0.2960    2881.0
1       95260             1  ...       0.8603    3635.0
2       92703             2  ...       0.7962    3769.0
3       35696             3  ...       0.9403    1229.0
4      155963             4  ...      -0.4342    1594.0

[5 rows x 9 columns]

In [23]:
df = df.drop(['drug_approved_by_UIC','patient_id'],axis=1)
df.head()

   name_of_drug             use_case_for_drug  ...  review_score  day_diff
0             0  Left Ventricular Dysfunction  ...       -0.2960    2881.0
1             1                          ADHD  ...        0.8603    3635.0
2             2                 Birth Control  ...        0.7962    3769.0
3             3             Opiate Dependence  ...        0.9403    1229.0
4             4  Benign Prostatic Hyperplasia  ...       -0.4342    1594.0

[5 rows x 7 columns]

In [0]:
unique_use_cases = df['use_case_for_drug'].unique()

In [25]:
dict_usecases= {}
for i in range(len(unique_use_cases)):
  dict_usecases[unique_use_cases[i]] = i
df.use_case_for_drug	 = [dict_usecases[item] for item in df.use_case_for_drug]
df.head()

   name_of_drug  use_case_for_drug  ...  review_score  day_diff
0             0                  0  ...       -0.2960    2881.0
1             1                  1  ...        0.8603    3635.0
2             2                  2  ...        0.7962    3769.0
3             3                  3  ...        0.9403    1229.0
4             4                  4  ...       -0.4342    1594.0

[5 rows x 7 columns]

In [26]:
df.shape

(32165, 7)

In [63]:
df.head()

   name_of_drug  use_case_for_drug  ...  review_score  day_diff
0             0                  0  ...       -0.2960    2881.0
1             1                  1  ...        0.8603    3635.0
2             2                  2  ...        0.7962    3769.0
3             3                  3  ...        0.9403    1229.0
4             4                  4  ...       -0.4342    1594.0

[5 rows x 7 columns]

In [64]:
df.columns[4]

'base_score'

In [75]:
df.head()

   name_of_drug  use_case_for_drug  ...  review_score  day_diff
0             0                  0  ...       -0.2960    2881.0
1             1                  1  ...        0.8603    3635.0
2             2                  2  ...        0.7962    3769.0
3             3                  3  ...        0.9403    1229.0
4             4                  4  ...       -0.4342    1594.0

[5 rows x 7 columns]

In [0]:
x = df.drop(['base_score'],axis=1)
y = df['base_score']

In [78]:
x.shape

(32165, 6)

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
train_features, test_features, train_labels, test_labels = train_test_split(x, y, test_size = 0.20)

In [0]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 1000)
rf.fit(train_features, train_labels)

In [82]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2))

Mean Absolute Error: 0.06

In [83]:
print (predictions)

[6.73553041 7.47509663 4.87817196 ... 4.20509589 8.36757847 8.48288346]

In [85]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(predictions,test_labels,squared=False))

0.2529321643915626

In [104]:
url2 = "https://raw.githubusercontent.com/dranzerblaze/effect_std_drug/master/test.csv"
df = pd.read_csv(url2)

df.head()

   patient_id name_of_drug  ...  use_case_for_drug effectiveness_rating
0      163740  Mirtazapine  ...         Depression                   10
1       39293     Contrave  ...        Weight Loss                    9
2      208087      Zyclara  ...          Keratosis                    4
3       23295    Methadone  ...  Opiate Withdrawal                    7
4       97013       Ambien  ...           Insomnia                    2

[5 rows x 7 columns]

In [91]:
unique_drugs = df['name_of_drug'].unique()
dict_drugs= {}
for i in range(len(unique_drugs)):
  dict_drugs[unique_drugs[i]] = i
df.name_of_drug	 = [dict_drugs[item] for item in df.name_of_drug]
df.head()

   patient_id  name_of_drug  ...  use_case_for_drug effectiveness_rating
0      163740             0  ...         Depression                   10
1       39293             1  ...        Weight Loss                    9
2      208087             2  ...          Keratosis                    4
3       23295             3  ...  Opiate Withdrawal                    7
4       97013             4  ...           Insomnia                    2

[5 rows x 7 columns]

In [0]:
review_score = []
bhams = SentimentIntensityAnalyzer()
for i in range(df.shape[0]):
  review_text = df['review_by_patient'][i].lower()
  score_polarity = bhams.polarity_scores(review_text)
  review_score.append(score_polarity['compound'])

In [0]:
df['review_score'] = review_score

In [0]:
df_new = df

In [94]:
df = df.drop(['review_by_patient'],axis=1)
df.head()

   patient_id  name_of_drug  ... effectiveness_rating  review_score
0      163740             0  ...                   10       -0.4596
1       39293             1  ...                    9        0.7086
2      208087             2  ...                    4        0.6924
3       23295             3  ...                    7       -0.2500
4       97013             4  ...                    2       -0.4672

[5 rows x 7 columns]

In [0]:
df['drug_approved_by_UIC'] = pd.to_datetime(df['drug_approved_by_UIC'])

In [0]:
df['day_diff'] = curr_date - df['drug_approved_by_UIC']

In [0]:
df['day_diff'] = df['day_diff']/np.timedelta64(1,'D')

In [98]:
df = df.drop(['drug_approved_by_UIC','patient_id'],axis=1)
df.head()

   name_of_drug  number_of_times_prescribed  ... review_score  day_diff
0             0                          22  ...      -0.4596    2963.0
1             1                          35  ...       0.7086    1131.0
2             2                          13  ...       0.6924    2107.0
3             3                          21  ...      -0.2500    1269.0
4             4                          44  ...      -0.4672    1913.0

[5 rows x 6 columns]

In [99]:
unique_use_cases = df['use_case_for_drug'].unique()
dict_usecases= {}
for i in range(len(unique_use_cases)):
  dict_usecases[unique_use_cases[i]] = i
df.use_case_for_drug	 = [dict_usecases[item] for item in df.use_case_for_drug]
df.head()

   name_of_drug  number_of_times_prescribed  ...  review_score  day_diff
0             0                          22  ...       -0.4596    2963.0
1             1                          35  ...        0.7086    1131.0
2             2                          13  ...        0.6924    2107.0
3             3                          21  ...       -0.2500    1269.0
4             4                          44  ...       -0.4672    1913.0

[5 rows x 6 columns]

In [0]:
predictions = rf.predict(df)

In [0]:
df_new['base_score'] = predictions

In [107]:
df_new.head()

   patient_id name_of_drug  ... effectiveness_rating base_score
0      163740  Mirtazapine  ...                   10   6.829476
1       39293     Contrave  ...                    9   6.935684
2      208087      Zyclara  ...                    4   7.890499
3       23295    Methadone  ...                    7   6.735530
4       97013       Ambien  ...                    2   7.884225

[5 rows x 8 columns]

In [0]:
df_new = df_new.drop(['name_of_drug','review_by_patient','drug_approved_by_UIC','number_of_times_prescribed','use_case_for_drug','effectiveness_rating'],axis=1)

In [109]:
df_new.head()

   patient_id  base_score
0      163740    6.829476
1       39293    6.935684
2      208087    7.890499
3       23295    6.735530
4       97013    7.884225

In [0]:
df_new.to_csv('bhams.csv',index=False)